{% extends 'main/base.html' %}
{% load static %}
{% load user_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'article/css/article_detail.css' %}">
{% endblock %}

{% block content %}
	<div class="post-detail-ct">
                <div class="post-ct">
                    <div class="header-post-detail">
                        <h3>Explore/Companies</h3>
                    </div>
                    <div class="ct-post">
                        <div class="auther-post">
                            <div class="auther-profile">
                                <ul>
                                    <li><h2>Auther</h2></li>
                                    <li class="auther-mini-profile"><div class="profile-photo"><img src="{{ object.auther.profile.avatar.url }}" alt="" class="media"></div>
                                        <a href=""><span class="auther-name">{{ object.auther.username }}</span><br><span>Photograf</span></a>
                                    </li>
                                    <li><i class="ri-file-text-line"></i><span>companies</span></li>
                                    <li><i class="ri-history-line"></i><span>{{ object.publish_date }}</span></li>
                                    <li><i class="ri-user-location-line"></i><span>Amsterdam, Vena</span></li>
                                    <li class="bts">
                                        <button class="interested" data-value="{{ object.pk }}"><i class="{% if object|check_liked:user %}ri-thumb-up-fill{% else %}ri-thumb-up-line{% endif %}"></i>interested</button>
                                        <button><i class="ri-share-forward-line"></i></button>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="post-detail">
                            <div class="post-photo">
                                <img src="{{ object.banner.url }}" alt="banner">
                            </div>
                            <h3>{{ object.title }}</h3>
                            <span>
															{{ object.text }}
														</span>
                            <form class="add-comment">
                                <div class="profile-photo">
                                    <img src="https://img.freepik.com/premium-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg" alt="">
                                </div>
                                <input type="text">
                                <button type="submit">Comment</button>
                            </form>
														<div class="comments-ct">
															{% for c in object.comments.all %}
																<div class="comment-ct">
																		<div class="user-ava">
																				<div class="profile-photo">
																						<img src="https://img.freepik.com/premium-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg" alt="">
																				</div>
																		</div>
																		<div class="comment-text">
																				<div class="user-name"><a href="">{{ c.user.username }}</a><span> {{ c.publish_date }}</span> </div>
																				<span>{{ c.content }}</span>
																				<div class="comment-fun">
																						<div class="ct_likes_bar">
																								<button class="like_bt_comment" id="like" data-value="{{ c.pk }}"><i class="ri-arrow-drop-up-line"></i></button><span id="count-like-{{ c.pk }}"></span><button class="like_bt_comment" id="dislike" data-value="{{ c.pk }}"><i class="ri-arrow-drop-down-line"></i></button>
																						</div>
																						<a href=""><i class="ri-feedback-line"></i></a>
																						<a href=""><i class="ri-share-forward-line"></i></a>

																				</div>
																		</div>
																</div>
															{% endfor %}
														</div>
                        </div>
										</div>
								</div>
</div>
{% endblock %}


{% block js %}
	<script>
		$('.interested').click(function () {
				$.ajax({
						url: '{% url 'article:article_like' article_slug=object.slug %}',
						method: "GET",
						dataType: 'json',
						success: function (data) {
								let bt = $('.interested i')
								if (data['flag']){
										bt.removeClass('ri-thumb-up-line')
										bt.addClass('ri-thumb-up-fill')
                }
								else {
									 	bt.removeClass('ri-thumb-up-fill')
										bt.addClass('ri-thumb-up-line')
                }
            }
				})
    })
	</script>
{% endblock %}