{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/sing_in.css' %}">
{% endblock %}

{% block content %}
    <div class="w-80-ct">
    {% if validlink %}
        <div class="form-ct">
            <form method="post" action="" class="active-form">{% csrf_token %}
                <a class="meetmax-logo"><i class="ri-messenger-fill"></i><span class="meet">Meet</span><span>max</span></a>
                {% for i in form %}
                    <div class="form-input"><i class="ri-key-line"></i>{{ i }}</div>
                {% endfor %}
                <button type="submit">Send mail</button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}
