{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/sing_in.css' %}">
{% endblock %}

{% block content %}
    <div class="w-80-ct">
        <div class="form-ct">
            <form method="post" action="{% url 'accounts:password-reset' %}" class="active-form">{% csrf_token %}
                <a class="meetmax-logo"><i class="ri-messenger-fill"></i><span class="meet">Meet</span><span>max</span></a>
                <h1>Forgotten your password?</h1>
                <p>Enter your e-mail address to obtain a new password.</p>
                    <div class="form-input"><i class="ri-mail-line"></i>{{ form.email }}</div>
                <button type="submit" formtarget="_blank">Send mail</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}