{% extends 'main/base.html' %}
{% load static %}
{% load user_tags %}
{% block css %}
	<link rel="stylesheet" href="{% static 'chats/css/chat.css' %}">
{% endblock %}

{% block content %}

	<div class="main-ct">
                <div class="chats-list-user">
                    <div class="search">
                        <input type="text" id="room-name-input">
                        <button type="submit" id="room-name-submit"><i class="ri-search-line"></i></button>
                    </div>
									{% if dialogs_list %}
                    <ul>
											{% for i in dialogs_list %}
												{% with companion=i.get_companion_user %}
                        <li>
                            <a href="{{ i.get_absolute_url }}">
                                <div class="profile-photo">
                                    <img src="{{ companion.avatar.url }}" alt="" class="media">
                                </div>
                                <div class="name-user">
                                    <span class="username-chat">{{ companion.user.username }}</span><br>
																		{% if i.last_message %}
                                    	<span>{{ i.last_message }}</span>
																		{% endif %}
                                </div>
                                <div class="time">
                                    <span>12.23 am</span><br>
																		{% if i.messages.count %}
                                    	<span class="new-messages">{{ i.messages.count }}</span>
																		{% endif %}
                                </div>
                            </a>
                        </li>
												{% endwith %}
											{% endfor %}
										</ul>
									{% else %}
										<a href="" class="add_chat"><i class="ri-add-line"></i>Add chat</a>
									{% endif %}
                </div>
							{% if dialog %}
								{% include 'chats/personal_chat.html' %}
							{% endif %}
            </div>
{% endblock %}

{% block js %}
	<script>
		document.querySelector('#room-name-input').focus();
		document.querySelector('#room-name-input').onkeyup = function(e) {
				if (e.key === 'Enter') {  // enter, return
						document.querySelector('#room-name-submit').click();
				}
		};

		document.querySelector('#room-name-submit').onclick = function(e) {
				let roomName = document.querySelector('#room-name-input').value;
				window.location.pathname = '/chat/dialog/' + roomName + '/';
		};



	</script>
{% endblock %}