{% load user_tags %}

<div class="chat-one-to-one">
	<input type="hidden" value="{{ dialog.name }}" id="room-name">
                    <div class="chat-header">
                        <div class="profile-photo">
                             <img src="{{ dialog.get_companion_user.avatar.url }}" alt="" class="media">
                        </div>

                        <div class="meta-chat">
                            <h2>Bdkigro Dhsnf</h2>
                            <span>active now<i></i></span>
                        </div>
                        <div class="icon-fun">
                            <button><i class="ri-phone-line"></i></button>
                            <button><i class="ri-live-line"></i></button>
                            <button><i class="ri-error-warning-line"></i></button>
                        </div>
                    </div>
                    <div class="chat" id="chat-log">
                        <h3>13 Avgust, 2021</h3>
												{% for message in dialog.messages.all %}
													<div class="{{ message.author.id|get_class_message:user.profile.id }} message">
                                <div class="us-ct02">
                                     <div class="profile-photo fix-photo">
                                        <img src="{{ message.author.avatar.url }}" alt="" class="media">\n' +
                                    </div>
                                </div>

                                <span class="text-message">{{ message.message }}</span>
                                <div class="fun-message">
                                    <button><i class="ri-more-fill"></i></button>
                                </div>
													</div>

												{% endfor %}
                    </div>
                        <div class=" comment-add add-message">
                            <div class="profile-photo"><img src="https://img.freepik.com/premium-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg" alt=""></div>
                            <div class="input-text-comment">
                                <input type="text" id="chat-message-input">
                                <button><i class="ri-file-gif-line"></i></button>
                                <button><i class="ri-image-line"></i></button>
                                <button><i class="ri-user-smile-line"></i></button>
                            </div>
                            <div class="send-ct">
                                <button class="send" id="chat-message-submit"><i class="ri-send-plane-2-line"></i></button>
                            </div>
                        </div>
                </div>
    <script>
        const roomName = $('#room-name').attr('value');
        let chatContainer = $('#chat-log')
        chatContainer.scrollTop(chatContainer.prop('scrollHeight') - chatContainer.height())
				{#chatContainer.animate({scrollTop: chatContainer.height()}, 'slow');#}


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            chatContainer.append(
    '                        <div class="'+ data['class'] +' message">\n' +
    '                            <div class="us-ct02">\n' +
    '                                 <div class="profile-photo fix-photo">\n' +
    '                                    <img src="'+ data['author_ava_url'] +'" alt="" class="media">\n' +
    '                                </div>\n' +
    '                            </div>\n' +
    '\n' +
    '                            <span class="text-message">'+ data['message'] +'</span>\n' +
    '                            <div class="fun-message">\n' +
    '                                <button><i class="ri-more-fill"></i></button>\n' +
    '                            </div>\n' +
    '                        </div>'
)
						chatContainer.scrollTop(chatContainer.prop('scrollHeight') - chatContainer.height())
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
